@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Configuración de reset General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --spacing: 20px;
    --border-radius: 14px;
}