/* Importar una fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Configuración de reset General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --color-bg: #155e77;
    --color-button: #60c4c8;
    --color-dark: #202020;
    --color-light: #f2fdff;
    --color-accent: #00fbff;
    --spacing: 20px;
    --border-radius: 10px;
}



